   #title {
       font-family: 'Indie Flower', cursive;
       font-size: 80px;
       color: gold;
       margin-top: 15%;
   }
   
   .tx {
       font-family: 'Acme', sans-serif;
       color: rgb(202, 93, 184)
   }